<div class="row" style="margin-left: 30%;">
  <div class="columns footer-text" style="margin-top:175px; padding-left:0px;">
    <span class="footer-heading" style="/* Connect With Us: */
font-family: Merriweather;
font-weight: bold;
font-size: 18px;
color: #006BB2;">Connect With Us</span></div>
  <div class="small-3 columns footer-text" style="/* The Cobalt Partners: */
font-family: Titillium Web;
font-weight: light;
font-size: 15px;
color: #000000;
line-height: 22px;
padding-left:0px;">
    The Cobalt Partners <br>
    30 Giffard Road La, Accra <br>
    PO Box CT3224 Accra, <br>
    Ghana
  </div>
  <div class="small-3 columns footer-text" style="/* The Cobalt Partners: */
font-family: Titillium Web;
font-weight: light;
font-size: 15px;
color: #000000;
line-height: 22px;">
    The Cobalt Partners <br>
    18b Elsie Femi Pearse Street, <br>
    Victoria Island, <br>
    Nigeria
  </div>
  <div class="small-6 columns footer-text" style="/* The Cobalt Partners: */
font-family: Titillium Web;
font-weight: light;
font-size: 15px;
color: #000000;
line-height: 22px;">
    +233 (0)302-761-204 <br>
    +234 709-850-5718
  </div>

</div>
<br><br>
<div class="row" style="margin-left: 30%;">

  <div class="large-4 columns" style="padding-left:0px;">
  <ul class="footer-menu menu footer-text-2">
 <!-- <li><a href="#">THE COMPOUNDS</a></li> -->
 <li><a href="https://medium.com/cobalt-stories" style="/* THE COMPOUNDS: */
font-family: Titillium Web;
font-weight: regular;
font-size: 14px;
color: #319AD5;

padding-left: 0;
">BLOG</a></li>
  <li><a style="/* THE COMPOUNDS: */
font-family: Titillium Web;
font-weight: regular;
font-size: 14px;
color: #319AD5;

padding-left: 0;
" href="#">PRESS</a></li>
</ul>
</div>

<div class="small-8 columns">
<ul class="footer-menu menu footer-text-2">
<li><a href="mailto:info@thecobaltpartners.com?subject=Enquiry%20From%20Website" style="/* THE COMPOUNDS: */
font-family: Titillium Web;
font-weight: regular;
font-size: 14px;
color: #319AD5;">info@thecobaltpartners.com</a></li>

<li><a href="https://www.facebook.com/thecobaltpartners" style="/* THE COMPOUNDS: */
font-family: Titillium Web;
font-weight: regular;
font-size: 14px;
color: #319AD5;"><i class="fa fa-facebook"></i></a></li>

<li><a href="https://www.linkedin.com/company/9350796?trk=vsrp_companies_cluster_name&trkInfo=VSRPsearchId%3A1381281601470221562660%2CVSRPtargetId%3A9350796%2CVSRPcmpt%3Acompanies_cluster" style="/* THE COMPOUNDS: */
font-family: Titillium Web;
font-weight: regular;
font-size: 14px;
color: #319AD5;"><i class="fa fa-linkedin"></i></a></li>

<li><a href="https://twitter.com/cobaltpartners" style="/* THE COMPOUNDS: */
font-family: Titillium Web;
font-weight: regular;
font-size: 14px;
color: #319AD5;"><i class="fa fa-twitter"></i></a></li>
</ul>
</div>
<br><br>
</div>
